<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @invite.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @invite.event_id %>
</p>

<p>
  <strong>Attending:</strong>
  <%= @invite.attending %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @invite.creator %>
</p>

<%= link_to 'Edit', edit_event_invite_path(id: @invite) %> |
<%= link_to 'Back', event_invites_path %>
